body {
  background-image: url("https://i.pinimg.com/originals/4a/38/89/4a3889932ec45f48cf8db97f8dd07751.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
}

.login {
  position: absolute;
  width: 380px;
  height: 380px;
  top: 50%;
  left: 50%;
  background-color: rgb(131, 127, 127, 0.2);
  border-radius: 5px;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.conteudo-login {
  position: relative;
  top: 25%;
  height: 50%;
  text-align: center;
}

.conteudo-login {
  color: #fff;
}

.titulo-login {
  position: relative;
  top: -30px;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.email,
.senha,
.button-login {
  margin: 20px;
  padding: 5x;
}

#email-label,
#senha-label {
  position: relative;
  right: 135px;
  font-size: 13px;
}
#email-campo,
#senha-campo {
  position: relative;
  top: 7px;
}

.input-field {
  border-radius: 3px;
  border: none;
  width: 300px;
  height: 30px;
  background-color: rgb(238, 221, 221);
  padding-left: 8px;
  transition: border-color 0.3s; /* Adicionando transição suave na mudança de cor da borda */
  border: 1px solid #ccc; /* Cor padrão da borda */
}

.input-field:hover {
  border-color: rgb(2, 7, 49);
}

.button-login {
  position: relative;
  right: 116px;
}

.btm-submit {
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(4, 0, 12);
  color: #fff;
  font-size: 15px;
  width: 80px;
}

.assinatura {
  font-family: Snell Roundhand, cursive;
  color: #fff;
  font-style: italic;
}
